.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    overflow-y: hidden;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.game-board>div {
    display: flex;
    flex-direction: row;
}

p {
    font-size: xx-large;
}

.game-btn {
    width: 250px;
    height: 250px;
    font-size: 50px;
    margin: 10px;
}

.new-game-btn {
    font-size: 20px;
    margin-bottom: 20px;
}